<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ball_story.common.files.repository.AttachFileRepository">

    <insert id="save" parameterType="AttachFile" keyProperty="fileId">
        INSERT INTO attach_file (
            name, path
        )
        VALUES (#{name}, #{path})
    </insert>

    <select id="findById" resultType="AttachFile">
        SELECT file_id, name, path
        FROM attach_file
        WHERE file_id = #{id}
    </select>

    <delete id="delete">
        DELETE
        FROM attach_file
        WHERE file_id = #{id}
    </delete>

</mapper>