<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ball_story.home.stadium.repository.HomeStadiumRepository">

    <insert id="save" parameterType="HomeStadium" keyProperty="stadiumId">
        INSERT INTO home_stadium (
                                  name, team, owner_id,
                                  created_at, updated_at, deleted_at
                                  )
        VALUES (#{name}, #{team}, #{ownerId},
                #{createdAt}, #{updatedAt}, #{deletedAt})
    </insert>

    <select id="findById" resultType="HomeStadium">
        SELECT stadium_id, name, team, owner_id,
               created_at, updated_at, deleted_at
        FROM home_stadium
        WHERE stadium_id = #{stadiumId}
        AND deleted_at IS NULL
    </select>

    <update id="update" parameterType="HomeStadium">
        UPDATE home_stadium
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="team != null">
                team = #{team},
            </if>
            <if test="ownerId != null">
                owner_id = #{ownerId},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt},
            </if>
        </set>
        WHERE stadium_id = #{stadiumId}
    </update>

</mapper>