<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ball_story.home.story.repository.StoryImageRepository">
    <insert id="insertBatch">
        INSERT INTO story_image (story_id, file_id, orders, created_at)
        VALUES
            <foreach collection="storyImages" item="item" separator=",">
                (#{item.storyId}, #{item.fileId}, #{item.orders}, #{item.createdAt})
            </foreach>
    </insert>
    <select id="selectByStoryId" resultType="StoryImage">
        SELECT *
        FROM story_image
        WHERE story_id = #{storyId}
    </select>
</mapper>